*{
  padding: 3px;
  font-weight: normal;
}

body{
  background-color:black;

}

h1{
  text-align: center;
  margin-top: 125px;
　font-family:'Avenir','Osaka',sans-serif;
  border-bottom: double 1px white;
  color:black;
}
h2{
  color:white;
}


.textBox1{
float:left;
}

.textBox2{
  margin-top: 0px;
  float:left;
}
.textBox3{
  clear:both;
  border-bottom:dashed 1px white;
  text-align: center;
  margin-top: 40px;
}


.textBox4{

  float:left;
}

.textBox5{
  float:left;
}

h5 h6 {
  margin-left: 5px;
  list-style-type:none;
  color:white;
}


p{
  margin-bottom:0;
  margin-right:0;
  color: white;
  font-size-adjust: auto;



}
footer{
  text-align: right;
  font-weight:100;
  font-family: monospace;
  clear:both;
}

.bg-slider {
	width: 100vw;
	height: 70vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-slider__title{
	color: white;
	font-size: 50px;
	line-height: 1.5;
	font-weight: bolder;
	text-align:center;
	text-shadow: 2px 2px 2px #000;
}
