<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
  <title>ヒカキン</title>
  <link rel="stylesheet" href="../static/style1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 </head>
 <body>
   <header class="bg-slider">
     <div>
     　　<h1 class="bg-slider__title">ヒカキン</h1>
     </div>
   </header>

   <section class="textBox1">
      <img src="../static/hikakin_transition.png" alt="ヒカキンの軌跡" width="340px" height="330px">
   </section>
   <section class="textBox2">
      <p>
      2010/06/17 Super Mario Beatbox<br>
      2012/05/09 BEST SKRILLEX BEATBOX<br>
      2013/06/22 Beatbox Game - Hikakin vs Daichi<br>
      2013/11/09【ホラーゲーム】青鬼を実況プレイ！Part1 - ヒカキンゲームズ(HikakinGames)<br>
      2014/11/08 【マインクラフト】ヒカキンのマイクラ実況 Part1 いきなりまさかの展開 !?<br>
      2015/08/14 YouTubeテーマソング／ヒカキン＆セイキン<br>
      2016/01/15 鬼から電話がかかってきた。。。<br>
      2017/06/04 【◯◯◯万円!?】店のもの全部下さいって言ったら超大変なことになった…</p>
   </section>
   <section class="textBox3">
     <h2>twitter・youtubeの軌跡</h2>
   </section>
   <section class="textBox7">
   <section class="textBox4">
<form><input type="text" name="time" list="example" placeholder="検索年(から)">
  <datalist id="example">
  <option value="2018"></option>
  <option value="2017"></option>
  <option value="2016"></option>
  <option value="2015"></option>
  <option value="2014"></option>
  <option value="2013"></option>
  <option value="2012"></option>
  <option value="2011"></option>
  <option value="2010"></option>
  </datalist>
</form>
<form>
  <input type="text" name="time" list="example" placeholder="検索年（まで）">

<datalist id="example">
  <option value="2018"></option>
  <option value="2017"></option>
  <option value="2016"></option>
  <option value="2015"></option>
  <option value="2014"></option>
  <option value="2013"></option>
  <option value="2012"></option>
  <option value="2011"></option>
  <option value="2010"></option>
  </datalist>
</form>
</section>
<section class="textBox6">
{% for i in recent_youtube %}
            <table>
             <tr>
                 <td valign="top">{{i.image_url}}</td>
                 <td valign="top">{{i.view_count}}</td>
                 <td valign="top">{{i.date}}</td>
                 <td valign="top">{{i.title}}</td>
            </tr>
            </table>
             {% endfor %}
</section>
</section>
<section class="textBox8">
   <section class="textBox5">
     <form><input type="text" name="time" list="example" placeholder="検索年(から)">
       <datalist id="example">
       <option value="2018"></option>
       <option value="2017"></option>
       <option value="2016"></option>
       <option value="2015"></option>
       <option value="2014"></option>
       <option value="2013"></option>
       <option value="2012"></option>
       <option value="2011"></option>
       <option value="2010"></option>
       </datalist>
     </form>
     <form><input type="text" name="time" list="example" placeholder="検索年（まで）">
       <datalist id="example">
       <option value="2018"></option>
       <option value="2017"></option>
       <option value="2016"></option>
       <option value="2015"></option>
       <option value="2014"></option>
       <option value="2013"></option>
       <option value="2012"></option>
       <option value="2011"></option>
       <option value="2010"></option>
       </datalist>

     </form>

   </section>
 </section>
   <footer>

       <p>posted by team D Copyright 2018</p>

   </footer>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      <script src="../static/jquery.bgswitcher.js"></script>
      <script>
      jQuery(function($) {
          $('.bg-slider').bgSwitcher({
              images: ['../static/HIKAKIN1.png','../static/HIKAKIN2.png','../static/HIKAKIN3.png','../static/HIKAKIN4.png','../static/HIKAKIN5.png','../static/HIKAKIN6.png',],
          });
      });
      </script>

 </body>
</html>
