<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
      <title>ヒカキン</title>
      <link rel="stylesheet" href="../static/style1.css">
      <link rel="stylesheet" type="text/css" href="../static/slick.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="../static/slick-theme.css" media="screen" />
    </head>
   <body>
   　　<header>
     　　<h1>ヒカキン</h1>
   　　</header>
   <section class="textBox1">
      <img src="../static/RAMEN.png" alt="ヒカキンの軌跡" width="310px" height="310px">

   </section>
   <section class="textBox2">
      <p>ヒカキンの歩んだ軌跡</p><br>
      <p>brabra</p>
   </section>
   <section class="textBox3">
     <h2>twitter・youtubeの軌跡</h2>
   </section>
   <section class="textBox4">
   </section>
   <section class="textBox5>
   </section>
      <footer>

       <p>posted by team D Copyright 2018</p>

      </footer>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript"src="../static/slick.min.js"></script>
<script type="text/javascript">
$('.fade').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});


</script>

</body>
</html>
