<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>You Tuber analytics</title>
      <link rel="stylesheet" href="../static/style.css">

   </head>
   <body>
   <header>
     <h1>You Tuber analitics</h1>
   </header>
   <section class="textbox">
   <h2>今注目を集めているYoutuber</h2>
   <h4>今まで注目を集めてきたYoutuber達を紹介しよう</h4>
 </section>
   <section class ="youtuber">
     <ul>
   <a href="hajimesyatyo.html"><img src="../static/HAJIME2017ufes.jpg" alt="はじめしゃちょー" width="550" height="600"></a>
   <a href="hikakin.html"><img src="../static/HIKAKIN_at_UFES2017.jpg" alt="ヒカキン"  width="550" height="600"></a>
   <a href="seikin.html"><img src="../static/SEIKIN_2017.png" alt="セイキン"width="550" height="600"></a>
   <a href="kinositayuka.html"><img src="../static/YUUKAKINOSITA2017.jpg" alt="木下ゆうか"width="550" height="600"></a>
 </ul>
</section>
  <footer>
    <section class="foo">
<p>posted by team D</p>
<p>Copyright 2010</p>
    </section>
</footer>
</body>
</html>
