<!DOCTYPE html>
<html lang="ja">
    <head>
      <meta charset="utf-8">
      <title>You Tuber analitics</title>
      <link rel="stylesheet" href="../static/style.css">
      <link rel="stylesheet" type="text/css" href="../static/slick.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="../static/slick-theme.css" media="screen" />
    </head>
   <body>
   　　<header>

<div id="top">
    <img src="../static/You Tuber analitics-logo.png">



    </p>
</div>

   </header>

   　　<section class="textbox">
      <h2>"Youtuber"ってどうやってモノになるの？</h2>
      <h5>世の中には様々な"youtuber"が存在しています。<br><br>
      しかしそこで成功者と言われるのはほんの一握りの有名youtuberだけ<br><br>
      どうやったら彼らのように”バズる”ことができるのか<br><br>
      当サイトのカテゴリの中にそのヒントが見つかれば幸いです。</h5>
      </section>
      <section class="textBox1">
        <div id="contents1">
        <h2>チャンネル登録者数</h2>
        <h4>チャンネル登録者数が多い人を表示します。</h4>
      </div>
      <ul class ="fade">
             <li><a href="hajimesyatyo.html"><img src="../static/HAJIME2017ufes.jpg" alt="はじめしゃちょー" width="310px" height="210px" ></a></li>
             <li><a href="{{ url_for('hikakin') }}"><img src="../static/HIKAKIN_at_UFES2017.jpg" alt="ヒカキン" width="310px" height="210px"></a></li>
             <li><a href="seikin.html"><img src="../static/SEIKIN_2017.png" alt="セイキン"width="310px" height="210px" ></a></li>
             <li><a href="kinositayuka.html"><img src="../static/YUUKAKINOSITA2017.jpg" alt="木下ゆうか"width="310px" height="210px" ></a></li>
             <li><a href="susuru.html"><img src="../static/SUSURU.png" alt="SUSURU"width="310px" height="210px" ></a></li>
             <li><a href="mizutamari.html"><img src="../static/MIZUTAMARI.jpg" alt="水たまりボンド"width="310px" height="210px" ></a></li>
      </ul>
      </section>
      <section class="textBox2">
        <div id="contents2">
        <h2>チャンネル登録急上昇中</h2>
        <h4>チャンネル登録者数がここ数ヶ月で急上昇しているアカウントを表示します。</h4>
      </div>
      <ul class ="fade">

             <li><a href=""><img src="../static/zyosyo1.png" alt="zyosyo1" width="310px" height="210px" ></a></li>
             <li><a href=""><img src="../static/zyosyo2.png" alt="zyosyo2" width="310px" height="210px"  ></a></li>
             <li><a href=""><img src="../static/zyosyo3.png" alt="zyosyo3"width="310px" height="210px" ></a></li>
             <li><a href=""><img src="../static/zyosyo4.png" alt="zyosyo4"width="310px" height="210px" ></a></li>
             <li><a href=""><img src="../static/zyosyo5.png" alt="zyosyo5"width="310px" height="210px" ></a></li>
             <li><a href=""><img src="../static/zyosyo6.png" alt="zyosyo6"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/zyosyo7.png" alt="zyosyo7"width="310px" height="210px" ></a></li>
      </ul>

      </section>
      <section class="textBox3">
        <div id="contents3">
        <h2>動画高評価</h2>
        <h4>動画が高評価を得ているアカウントを掲載します。</h4>
        <h4><h4>
      </div>
        <ul class ="fade">

               <li><a href=""><img src="../static/kohyoka1.png" alt="kohyoka1" width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/kohyoka2.png" alt="kohyoka2" width="310px" height="210px"  ></a></li>
               <li><a href=""><img src="../static/kohyoka3.png" alt="kohyoka3"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/kohyoka4.png" alt="kohyoka4"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/kohyoka5.png" alt="kohyoka5"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/kohyoka6.png" alt="kohyoka6"width="310px" height="210px" ></a></li>
        </ul>
      </section>
      <section class="textBox4">
        <div id="contents4">
        <h2>動画再生回数</h2>
        <h4>公開している動画の再生回数が多いアカウントを表示しています。</h4>
      </div>
        <ul class ="fade">

               <li><a href=""><img src="../static/saisei1.png" alt="saisei1" width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/saisei2.png" alt="saisei2" width="310px" height="210px"  ></a></li>
               <li><a href=""><img src="../static/saisei3.png" alt="saisei3"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/saisei4.png" alt="saisei4"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/saisei5.png" alt="saisei5"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/saisei6.png" alt="saisei6"width="310px" height="210px" ></a></li>
        </ul>
      </section>
      <section class="textBox5">
        <div id="contents5">
        <h2>炎上・登録者数減少ランキング</h2>
        <h4>何らかの理由で炎上したり登録者数が激減した人々を挙げています。</h4>
      </div>
        <ul class ="fade">

               <li><a href=""><img src="../static/HAJIME2017ufes.jpg" alt="はじめしゃちょー" width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/dame1.png" alt="dame1" width="310px" height="210px"  ></a></li>
               <li><a href="s"><img src="../static/dame2.png" alt="dame2"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/dame3.png" alt="dame3"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/dame4.png" alt="dame4"width="310px" height="210px" ></a></li>
               <li><a href=""><img src="../static/dame5.png" alt="dame5"width="310px" height="210px" ></a></li>
        </ul>
      </section>

      <footer>
             <section class="foo">
       <p>posted by team D Copyright 2018</p>
      </section>
      </footer>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript"src="../static/slick.min.js"></script>
<script type="text/javascript">
$('.fade').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});

</script>

</body>
</html>
